<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Add a message</h1>
    <form method="POST" action="/new">
      <label for="text">Text: </label>
      <input name="text" type="text" id="text" />
      <label for="author">Author: </label>
      <input name="author" type="text" id="author" />
      <button type="submit">Send my message !</button>
    </form>
    <a href="/">Back to main page</a>
  </body>
</html>
