<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Messages list:</h1>
    <ul>
      <% messages.forEach((msg) => { %>
      <li>
        <div>Text: <%= msg.text %></div>
        <div>User: <%= msg.user %></div>
        <div>Added: <%= msg.added %></div>
        <a href="/message/<%= msg.id %>">Go to message</a>
      </li>
      <% }); %>
    </ul>
    <a href="/new">Create new message</a>
  </body>
</html>
