<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Message n°<%= index %> details:</h1>

    <div>Text: <%= message.text %></div>
    <div>User: <%= message.user %></div>
    <div>Added: <%= message.added %></div>

    <a href="/">Back to main page</a>
  </body>
</html>
